<h1><%= @photo.name %></h1>
<h5>Created by: <%= @photo.gallery.user.name %> (<%= @photo.gallery.user.email %>)</h5>

<%= image_tag @photo.image_url %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back to gallery")),
              @gallery, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit photo")),
              [:edit, @gallery, @photo], :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.delete photo")),
              [@gallery, @photo],
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
