<%- model_class = Gallery -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><h4><%= model_class.human_attribute_name(:name) %></h4></th>
      <th><h4><%= model_class.human_attribute_name(:photos) %></h4></th>
      <th><h4><%= model_class.human_attribute_name(:description) %></h4></th>
    </tr>
  </thead>
  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= link_to gallery.name, gallery %></td>
        <td><%= gallery.photos.size %></td>
        <td><%= gallery.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Gallery", new_gallery_path, class:'btn btn-large btn-primary' %>
