<% title(@gallery.name, "Galleries") %>
<h1><%= @gallery.name  %></h1>

<div id="photos">
  <% for photo in @gallery.photos %>
    <div class="photo">
      <%= link_to image_tag(photo.image_url(:thumb)), [@gallery, photo] if photo.image? %>
      <div class="name"><%= link_to photo.name, [@gallery, photo] if !photo.name.nil? %></div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<div class="form-actions">
  <%= link_to "Add a photo", new_gallery_photo_path(@gallery), :class => 'btn'  %>
  <%= link_to t('.back', :default => t("helpers.links.List Galleries")),
              galleries_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit gallery")),
              edit_gallery_path(@gallery), :class => 'btn' %>
  <%= link_to t('.delete gallery', :default => t("helpers.links.delete gallery")),
              gallery_path(@gallery),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
