<h1><%= @user.name  %> (<%= @user.email %>)</h1>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.List Galleries")),
              admin_users_path, :class => 'btn'  %>
  <%= link_to "Edit User", edit_admin_user_path(@user), :class => 'btn btn-primary'  %>
  <%= link_to t('.delete', :default => t("helpers.links.delete user")),
                admin_user_path(@user),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
</div>